[project]
name = "decision-science-streamlit-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "altair>=5.5.0",
    "st-gsheets-connection>=0.1.0",
    "streamlit>=1.51.0",
]
